body{
  background-color: beige;
}
.header{
  display: flex;
  justify-content: space-between;
}
h3{
  text-align: center;
}
.logo {
  height: 40vmin;

} 


h1 {
  text-align: center;
}
.cards{
  margin-top: 20px;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
 
}
.card p{
  text-align: center;
  
}

.card{
  border: 1px solid #000;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  /* background-color: rgb(130, 226, 226); */
}
.card img{
  height: 300px;
  width: 250px;
  background-size: contain;
}
.yra{
  background-color: rgb(238, 140, 208);
}
.nera{
  background-color: rgb(99, 166, 237);
}
footer{
  text-align: center;
}